{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock title %}
{% block head %} {{ super() }} {% endblock head %}
{% block header_title %} New SensorUnit {% endblock header_title %}
{% block menu_part1 %} {{ super() }} {% endblock menu_part1 %}
{% block menu_part2 %} {{ super() }} {% endblock menu_part2 %}
{% block footer %} {{ super() }} {% endblock footer %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<section class="form">
  <form method=post action="/parts/sensorUnit/new/">
  {{ form.csrf_token }}
    <dl>
      {{ render_field(form.serial_nr) }}
      {{ render_field(form.imu) }}
      {{ render_field(form.leica_cam) }}
      {{ render_field(form.topo_sensor_id) }}
      {{ render_field(form.shallow_sensor_id) }}
  </dl>
  <p><input type=submit value=Save /></p>
  </form>
 </section>
{% endblock content %}