{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock title %}
{% block head %} {{ super() }} {% endblock head %}
{% block header_title %} Systems {% endblock header_title %}
{% block menu_part1 %} {{ super() }} {% endblock menu_part1 %}
{% block menu_part2 %} {{ super() }} {% endblock menu_part2 %}
{% block footer %} {{ super() }} {% endblock footer %}

{% block content %}

<section class="nav__sub">
  <ul class="nav__sub__list">
	<li class="nav__sub__item">
	  <a href="/systems/new/"><i class="fa fa-plus-square"></i> New system</a></li>
	<li class="nav__sub__item" id="show__all">
	  <a href="/systems/full"><i class="fa fa-expand"></i> Full table</a></li>
  </ul>
</section>


<section class="all__systems">
  <table class="large__table">
	<thead>
	  <tr>
	  	<th>Serial nr.</th>
		<th colspan=2>Client</th>
		<th colspan=2>Config.</th>
		<th class="hide__550">Sensor unit</th>
		<th class="hide__550">Control unit</th>
		<th class="hide__550">Deep system</th>
		<th class="hide__550">Control system</th>
		<th class="hide__550">Topo</th>
		<th class="hide__550">Shallow</th>
		<th class="hide__550">Deep</th>
		<th class="hide__550">SCU</th>
		<th class="hide__550">PDU</th>
		<th>Status</th>
		<th colspan=3>Comments</th>
	  </tr>
    </thead>
    <tbody>
   	  {% for system in systems %}
   	  <tr>
   	  	<td colspan=2><a href="/systems/{{system.serial_nr}}/">{{system.serial_nr}}</a>
   	  		<a href="/systems/{{system.serial_nr}}/edit/">
   	  			<i class="fa fa-pencil-square-o"></i></a></td>
		<td colspan=2>{{system.client}}
			<a href="/systems/{{system.serial_nr}}/client/edit/">
   	  			<i class="fa fa-pencil-square-o"></i></a></td>
		<td>{{system.configuration}}
			<a href="/systems/{{system.serial_nr}}/config/edit/">
   	  			<i class="fa fa-pencil-square-o"></i></a></td>
		<td class="hide__550">{{system.sensor_unit_id}}</td>
		<td class="hide__550">{{system.control_unit_id}}</td>
		<td class="hide__550">{{system.deep_system_id}}</td>
		<td class="hide__550">{{system.deep_system.control_system}}</td>
		<td class="hide__550"><a href="/parts/sensor/{{system.sensor_unit.topo_sensor_id}}/">{{system.sensor_unit.topo_sensor_id}}</a></td>
		<td class="hide__550"><a href="/parts/sensor/{{system.sensor_unit.shallow_sensor_id}}/">{{system.sensor_unit.shallow_sensor_id}}</a></td>
		<td class="hide__550"><a href="/parts/sensor/{{system.deep_system.deep_sensor_id}}/">{{system.deep_system.deep_sensor_id}}</a></td>
		<td class="hide__550"><a href="/parts/scu/{{system.control_unit.scu_id}}/">{{system.control_unit.scu_id}}</a></td>
		<td class="hide__550">{{system.control_unit.pdu}}</td>
		<td>{% if 	system.system_status.potta_heat and
					system.system_status.shallow_heat 
					%}Ready
			{% else %}Not Ready
			{% endif %}
		</td>
		<td colspan=3>{{system.comment}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
</section>

{% endblock content %}